body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    background-color: #1e1e1e;
    font-family: 'Raleway', sans-serif;
}

.left {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

#status {
    color: white;
}

.right {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    align-items: center;

    .button-container {
        width: 50%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        button {
            padding: 20px 30px;
            text-transform: uppercase;
            font-weight: bold;
            width: 190px;
            line-height: 25px;
            outline: none;
            margin-bottom: 20px;
            margin-right: 20px;
        }
    
        .lights-only {
            background-color: #d6665a;
            border: 1px solid #d6665a;
            color: white;
            transition: 0.1s;
            cursor: pointer;

            &:hover {
                background-color: #C0392B;
                border: 1px solid #C0392B;
            }
        }
    
        .lights-sound {
            background-color: #C0392B;
            color: white;
            border: 1px solid #C0392B;
            transition: 0.1s;
            cursor: pointer;

            &:hover {
                background-color: #d6665a;
                border: 1px solid #d6665a;
            }
        }

        .neutral {
            background-color: white;
            border: 1px solid white;
            color: #1e1e1e;
            transition: 0.1s;
            cursor: pointer;

            &:hover {
                background-color: #C0392B;
                border: 1px solid #C0392B;
                color: white;
            }
        }

    }
}